<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
<h:head>
<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../dist/css/style.css" />
<link rel="stylesheet" href="../dist/css/colors/blue.css" id="theme" />
<script src="../dist/bootstrap/js/bootstrap.min.js" />

</h:head>	
	<f:metadata>
		<f:event listener="#{CardBean.carregarId(param['id'])}" type="preRenderView"></f:event>
	</f:metadata>
<h:body>
	<div class="context">
	<br></br>
		<div class="card col-6 mb-4">
			<div class="card-header">
				Editar Card
			</div>
			<br />
			<h:form enctype="multipart/form-data">
			<h:inputHidden id="id" value="#{CardBean.id}" />
			Foto:<h:inputFile value="#{CardBean.foto}" name="foto" id="foto"/>
			<br />
			Nome: <h:inputText class="form-control" value="#{CardBean.nome}" name="nome" id="nome"/>
			<br />
			Descricao: <h:inputText class="form-control" value="#{CardBean.descricao}" name="descricao" id="descricao"/>
			<br />
			<h:commandButton action="#{CardBean.editar}" value="Editar"/>
		</h:form>
		</div>
		<a href="index.xhtml">Voltar</a>		
	</div>
		
	
</h:body>
</html>
