<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>CMS Project</title>
	<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../dist/css/style.css" />
	<link rel="stylesheet" href="../dist/css/colors/blue.css" id="theme" />
</h:head>
<h:body class="fix-header card-no-border">
	<section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>404</h1>
                <h3 class="text-uppercase">Page Not Found !</h3>
                <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
                <a href="pageUser.xhtml" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Voltar p/ início</a> </div>
            <footer class="footer text-center">2017 © CMS admin.</footer>
        </div>
    </section>
</h:body>

</html>
