<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
<ui:include src="includes/heade.xhtml"></ui:include>
	<title>CMS Project</title>
<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../dist/css/style.css" />
<link rel="stylesheet" href="../dist/css/colors/blue.css" id="theme" />
<script src="../dist/bootstrap/js/bootstrap.min.js" />
</h:head>
<h:body class="fix-header fix-sidebar card-no-border">
	<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
		</svg>
    </div>
    <div id="main-wrapper">
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                	<ui:repeat var="key" value="#{CardBean.lista}">
				    	<div class="col-lg-4 mb-4">
				        	<div class="card h-100">
				        	<h:form enctype="multipart/form-data">
					          <h:graphicImage height="120" width="120" value="../#{key.foto}" />
					          <h4 class="card-header"><h:outputText value="#{key.nome}" /></h4>
					          <div class="card-body">
					            <p class="card-text"><h:outputText value="#{key.descricao}" /></p>
					          </div>
					            <a href="editar.xhtml?id=#{key.id}" class="btn btn-warning"><i class="fa  fa-edit"></i> Editar</a>
					            <h:commandButton action="#{CardBean.apagar(key.id)}" class="btn btn-danger"><i class="fa fa-eraser"></i>Apagar</h:commandButton> 
					        </h:form>					        	
					        </div>  
				      	</div>
				    </ui:repeat>
				    <div class="card" style="width: 18rem;">
						<div class="card-body">
							<h:form enctype="multipart/form-data">
								Foto<br/>
								<h:inputFile name="foto" value="#{CardAdd.foto}"/>
								Nome<br/>
								<h:inputText class="form-control" id="nome" name="nome" value="#{CardAdd.nome}"/><br/>
								Descrição<br/>
								<h:inputText class="form-control"  id="descricao" name="descricao" value="#{CardAdd.descricao}"/><br/><br />	
								<h:commandButton action="#{CardAdd.inserir()}" value="Enviar Conteúdo" class="btn btn-info"/>		
							</h:form>
						</div>
					</div>
	    		</div>
            </div>
        </div>
    </div>
<ui:include src="includes/rodape.xhtml"></ui:include>	
</h:body>
</html>
