<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../dist/css/style.css" />
	<link rel="stylesheet" href="../dist/css/colors/blue.css" id="theme" />
	<script src="../dist/bootstrap/js/bootstrap.min.js" />
</h:head>
<h:body class="fix-header card-no-border">
	<header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.xhtml">
                    	<b><h:graphicImage value="../img/cms.jpg" class="dark-logo" alt="homepage" style="width:50px;"/></b>
                        <span>
                        <h:graphicImage  value="img/diogo.jepg" class="dark-logo" alt="Projetos"/>
                        </span>
                    </a>
                </div>
                <ul class="navbar-nav mr-auto mt-md-0 ">
                	<li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                </ul>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                    	<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle='modal' data-target="#modalLogarForm">
                     		<i class="fa fa-sign-in"></i>Logar 
                    	</a>
                    </li>
                </ul>
            </nav>
        </header>
		<div id="main-wrapper">
			<div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
				    <div class="card col-6 mb-8">
						<div class="card-body">
							<ul>
								<h:outputText value="O que você conhecerá:" />
								<li>teste 1</li>
								<li>teste 2</li>
								<li>teste 3</li>
							</ul>
						</div>
					</div>
					
				    
	    		</div>
	    		<div class="card col-6 mb-8">
						<div class="card-body">
							<h:form>
						        	<label>Cadastre-se</label>
						        	<div class="input-group mb-3">
									  <div class="input-group-prepend">
									    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o "></i></span>
									  </div>
									  <h:inputText value="#{UserAdd.nome}" name="nome" class="form-control validate" id="nome" required="true" />
									</div>
						          <label data-error="wrong" data-success="right" for="defaultForm-email">Seu nome</label>
						          <div class="input-group mb-3">
									  <div class="input-group-prepend">
									    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
									  </div>
									  <h:inputSecret type="password" value="#{UserAdd.senha}" name="senha" id="senha" class="form-control validate" required="true"/>
									</div>
						          
						          <label data-error="wrong" data-success="right" for="defaultForm-pass">Sua senha</label>
						        <center><h:commandButton action="#{UserAdd.add}" value="Increva-se" class="btn btn-info"/></center>
							</h:form>
						</div>
					</div>
            </div>
        </div>	
	</div>
	<ui:include src="/includes/rodape.xhtml" />
		<!-- INICIO MODAL LOGAR -->
		<div class="modal fade" id="modalLogarForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header text-center">
		        <h4 class="modal-title w-100 font-weight-bold">LOGAR</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <h:form>
			      <div class="modal-body mx-3">
			        <div class="md-form mb-5">
			        	<div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o "></i></span>
						  </div>
						  <h:inputText value="#{UserBean.nome}" name="nome" class="form-control validate" id="nome" />
						</div>
					</div>
			        <div class="md-form mb-4">
			          <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
						  </div>
						  <h:inputSecret type="password" value="#{UserBean.senha}" name="senha" id="senha" class="form-control validate" />
						</div>
			        </div>
			      </div>
			      <div class="modal-footer d-flex justify-content-center">
			        <h:commandButton action="#{UserBean.verificar()}" value="Entrar" class="btn btn-info"/>
			      </div>
		      </h:form>
		    </div>
		  </div>
		</div>
		<!-- FIM MODAL -->
</h:body>
</html>
