<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
<title>Home</title>
<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../dist/css/style.css" />
<link rel="stylesheet" href="../dist/css/colors/blue.css" id="theme" />
<script src="../dist/bootstrap/js/bootstrap.min.js" />
</h:head>
<h:body class="fix-header fix-sidebar card-no-border">
	<header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.xhtml">
                    	<b><h:graphicImage value="../img/cms.jpg" class="dark-logo" alt="homepage" style="width:50px;"/></b>
                        <span>
                        <h:graphicImage  value="img/diogo.jepg" class="dark-logo" alt="Projetos"/>
                        </span>
                    </a>
                </div>
                <ul class="navbar-nav mr-auto mt-md-0 ">
                	<li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                </ul>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle='modal' data-target="#modalLogarForm">
                            	<i class="fa fa-sign-in"></i>Logar 
                           </a>
                           <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" data-toggle='modal' data-target="#modalLoginForm">
                            	<i class="fa fa-vcard-o "></i>Cadastrar 
                           </a>
                           <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="#"><i class="fa fa-sign-out"></i></a>
                           <h:form>
                           		<h:commandLink value="sair" class="nav-link dropdown-toggle text-muted waves-effect waves-dark" action="#{Deslogar.deslogar()}" />
                           </h:form>
                        </li>
                    </ul>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a href="#projetos" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Projetos</a>
                        </li>
                        <li>
                            <a href="#sobre" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Sobre mim</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
	<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
		</svg>
    </div>
    	<div class="page-wrapper">
    	<div class="container-fluid">
    		<section id="projetos">
		        <div class="row page-titles">
		            <div class="col-md-6 col-8 align-self-center">
		                <h3 class="text-themecolor m-b-0 m-t-0">Projetos</h3>
		                <ol class="breadcrumb">
		                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
		                    <li class="breadcrumb-item active">Projetos</li>
		                </ol>
		            </div>
		        </div>
                	<div class="row">
	                	<ui:repeat var="key" value="#{CardBean.lista}">
					    	<div class="col-lg-4 mb-4">
					        	<div class="card h-100">
					        	<h:form enctype="multipart/form-data">
						          <h:graphicImage height="120" width="120" value="../#{key.foto}" />
						          <h4 class="card-header"><h:outputText value="#{key.nome}" /></h4>
						          <div class="card-body" >
						            <p class="card-text"><h:outputText value="#{key.descricao}" /></p>
						          </div>
						          <div class="card-footer">
						            <a href="erro.xhtml" class="btn btn-info">Visitar Site</a>
						          </div>
						        </h:form>
						        </div>  
					      	</div>
					    </ui:repeat>
	    			</div>
                </section>
                
                <section id="sobre">
                	<div class="row page-titles">
		            <div class="col-md-6 col-8 align-self-center">
		                <h3 class="text-themecolor m-b-0 m-t-0">Compendium</h3>
		                <ol class="breadcrumb">
		                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
		                    <li class="breadcrumb-item active">Compendium</li>
		                </ol>
		            </div>
		        </div>
					<div class="card">
                		<ui:repeat var="key" value="#{CompendioBean.getLista()}">
	                		<div class="card-body">
	                			<p class="text-center"><h:outputText/>#{key.titulo}</p>
	                			<embed src="../#{key.video}" height="70%" width="100%" />
	                			<p class="text-center"><h:outputText/>#{key.txt}</p>
	                			<br></br>
	                		</div>
	                		<br></br>	
                		</ui:repeat>
                		<div class="card-footer"> Obrigado por visitar</div>
                	</div>
                </section>
                
                <section id="contato">
                
                </section>
               </div> 
        </div>
        
<ui:include src="includes/rodape.xhtml"></ui:include>
</h:body>
</html>
