<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
<title>Sobre</title>
<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../dist/css/style.css" />
<link rel="stylesheet" href="../dist/css/colors/blue.css" id="theme" />
<script src="../dist/bootstrap/js/bootstrap.min.js" />

</h:head>
<h:body class="fix-header fix-sidebar card-no-border">
<ui:include src="/includes/heade.xhtml" />
	<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
		</svg>
    </div>
	<div id="main-wrapper">    
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Sobre mim</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Sobre mim</li>
                        </ol>
                    </div>
                </div>
    
				<h:form id="user" enctype="multipart/form-data">
					Video:<h:inputFile name="video" value="#{CompendioBean.video}"/><br />
					Título:<h:inputText class="form-control" name="titulo" value="#{CompendioBean.titulo}"/>
					Texto:<h:inputTextarea class="form-control" name="txt" value="#{CompendioBean.txt}"/>
					<h:commandButton action="#{CompendioBean.add()}" value="Enviar"/>
				</h:form>
				</div>
			</div>
		</div>
<ui:include src="includes/rodape.xhtml"></ui:include>
</h:body>
</html>
