<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css" /> 
</h:head>
<h:body>
	<h:form enctype="multipart/form-data">
		<p:growl id="messages" showDatail="true"/>
		<p:outputLabel value="foto"/><br/>
		<h:inputFile value="#{uploadFile.file}"/>
		<h:commandButton actionListener="#{uploadFile.upload()}" value="Enviar Conteúdo"/>
	</h:form>
</h:body>
</html>
