<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="stylesheet" href="../dist/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="../dist/css/style.css" />
<link rel="stylesheet" href="../dist/css/colors/blue.css" id="theme" />
<script src="../dist/bootstrap/js/bootstrap.min.js" />
 
</h:head>
<h:body class="fix-header fix-sidebar card-no-border">
<ui:include src="/includes/heade.xhtml" />
<div id="main-wrapper">
	<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
		</svg>
    </div>
	<div class="page-wrapper">
        <div class="card">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Usuários</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Usuários</li>
                        </ol>
                    </div>
                </div>
	    			<h:form>
						<h:dataTable class="table bordered" value="#{UserBean.getLista()}" var="usuario" border="1">
							<h:column>
								<f:facet name="header">ID</f:facet>
								<!-- pega um atributo específico -->
							#{usuario.id}
						</h:column>
							<h:column>
								<f:facet name="header">Nome</f:facet>
							#{usuario.nome}
						</h:column>
							<h:column>
								<f:facet name="header">Senha</f:facet>
							#{usuario.senha}
						</h:column>
							<h:column>
								<f:facet name="header">Editar</f:facet>
								<a href="editar.xhtml?id=#{usuario.id}">Editar</a>
							</h:column>
							<h:column>
								<f:facet name="header">Remover</f:facet>
								<h:commandLink value="Deletar" action="#{UserBean.deletar(usuario.id)}" />
							</h:column>
						</h:dataTable>
					</h:form>
				</div>
            </div>
        </div>
    </div>
<ui:include src="includes/rodape.xhtml"></ui:include>	
</h:body>
</html>
